<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/authenticate.css') }}">
        <title>Authenticate</title>
    </head>
    <body>
        <form action="/authenticate", method="POST">
            <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
            <input type="password" name="password" placeholder="Enter the password.">
            <input type="submit">
            {% if failed %}
            <p class="error-message">The password you entered was not correct.</p>
            {% endif %}
        </form>
    </body>
</html>