<!DOCTYPE html>
<html>
    <head>
        <title>Cell Tracker</title>
    </head>
    <body>
        <h1>Cell Tracker</h1>
        <h2>Step 1: Prepare Images</h2>
        <p>First, make sure that your images meet the following criteria:</p>
        <h3>Format</h3>
        <p>You should have one <b>before</b> and one <b>after</b> image in each experiment.</p>
        <h3>File Names</h3>
        <p>Each image in a before/after pair should start with a unique identifier</p>
        <ul>
            <li>There should be exactly one <b>before</b> and one <b>after</b> image in each experiment.</li>
            <li>
                Each image in a before/after pair should start with a <i>unique</i> identifier.
                <ul>
                    <li>For example, each filename might begin with "experiment7" or "002" or similar.</li>
                    <li>Just make sure that both the <b>before</b> and <b>after</b> image start with the same unique identifier.</li>
                </ul>
            </li>
        </ul>
        <p></p>
        <h2>Step 2: Upload Images</h2>
        <p>For this ste</p>
    </body>
</html>