* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


    --action-color: rgb(0, 100, 255);
    --error-color: rgb(255, 0, 0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: min(90%, 35rem);
}

input {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    border: 0.0625rem solid rgb(0, 0, 0);
    outline: none;
    padding: 0 0.75rem;
}

input[type=submit] {
    border: none;
    border-radius: 0;
    background-color: var(--action-color);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.error-message {
    color: var(--error-color);
}